<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <input type="submit" value="Cadastrar Clientes" onclick="location.href = '{% url 'app:create' %}'">
    <ul>
        {% for cliente in object_list %}
        <li>{{ cliente.nome }} - <a href="{% url 'app:update' pk=cliente.id %}">Editar</a>
            - <a href="{% url 'app:detail' pk=cliente.id %}">Visualizar</a>
            - <a href="{% url 'app:delete' pk=cliente.id %}">Apagar</a>
        
        </li>
        {% endfor %}
    </ul>
</body>
</html>